<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.aku.hassannaqvi.smk_ce">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".core.MainApp"
        android:allowBackup="false"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.sections.FemaleMembersActivity"
            android:label="@string/title_activity_female_members"
            android:theme="@style/AppTheme.NoActionBar">
 <!--           <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.SplashscreenActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Design.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
<!--            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.login_activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge" />
        <activity
            android:name=".ui.SyncActivity"
            android:label="Download and Upload Data Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.EndingActivity"
            android:label="@string/io001hint"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".database.AndroidDatabaseManager"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".ui.TakePhoto"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.list_activity.FormsReportCluster"
            android:label="Forms Report"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.list_activity.FormsReportDate"
            android:label="Forms Report"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.sections.Section01Activity"
            android:label="@string/lhwinfo"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />
        <activity
            android:name=".ui.sections.Section01IdentifyActivity"
            android:label="@string/hhidinfo"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />
        <activity
            android:name=".ui.sections.Section01VerifyActivity"
            android:label="@string/hhvinfo"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />
        <activity
            android:name=".ui.sections.Section02Activity"
            android:label="@string/hhinfo"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />
        <activity
            android:name=".ui.sections.Section03Activity"
            android:label="@string/mwratitle"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />
        <activity
            android:name=".ui.sections.Section04Activity"
            android:label="@string/adoltitle"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />
        <activity
            android:name=".ui.sections.Section05Activity"
            android:label="@string/vhctitle"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1" />
    </application>

</manifest>